
<% @link.comments.each do |comment| %>
 <h3><%= comment.user.name  %></h3> 
 <p><%= comment.body  %> <br><span class="del_comment"> <%= link_to "  delete comment", link_comment_path(@link, comment),  method: :delete, data: { confirm: 'Are you sure?' } %></span></p> 
 <% end %>
