/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";



.header{
    padding: 5px;
	border: 2px solid #008ae6;
	border-radius: 0 0 10px 10px;
	width: 100%;
	height: 75px;
	background: #b3ecff;

}

.logo{
	position: relative;
top: -5px;
left: 20px;
width: 10%;
display: inline-block;
/*border: 2px solid red;
*/
}

.logo h2{
    font-family: 'Roboto';
    font-weight: 600;
	font-size: 30px;
	/*border: 2px solid red;*/

	/*padding-top: 20px;*/
}
.menu{

	display: inline-block;
	width: 89%;
	height: 40px;
	/*border: 2px solid red;*/
    overflow: hidden;
}
li{
	list-style-type: none;
}
li span {
	font-size: 20px;
	position: relative;
	top: 10px;
	padding-left: 150px;
}
.inside {
	position: relative;
	top: 10px;
	display: inline-block;
	float: right; 
	padding-left: 40px;
	font-weight: 400;
	font-size: 20px;
	

}

.outside {
	display: inline-block;
	float: right; 
	padding-left: 40px;
	font-weight: 400;
	font-size: 20px;

}



.content{
	margin: 0 5px;
	
	
}
td{
	padding-right: 20px;
}

.image{
	height: 20px;
 width: auto;
}
