/*.image{
	width: 20px;
}
*/
 .cicle{
	width: 100%;
	height: 80px;
	 border: 2px solid grey;
	 margin: 10px;
	
}



body{
	margin: 0;
}

/*.list_actions{
	font-size: x-small;
	text-align: right;
	padding-left: 1em;
}*/
/*.inline{
	display: inline-block;
}*/

.second{
	width: 75%;
}
.second a:hover{
	text-decoration: none;
	background: none;
	
}
h2{
	display: block;
 /*text-align: center;*/
 padding-left: 50px;
}

p{
	padding: 0 10px;
}
.content_image{
	width: 20%;
	text-align: center;
}
.third{
	width: 5%;
	text-align: left;
	font-size: 15px;
}


	


tr{
	border-bottom: 2px solid grey;
}

.missing_image{
	font-size: 15px;
	font-weight: bold;
}
